venv312/
venv312_local_backup/
venv/
env/
.venv/
__pycache__/
*.pyc
*.pkl
*.npz
*.pt
*.ckpt
*.pth
*.h5
*.ptg
static/uploads/
.venv/
project/backend/_mm_cache/
.vscode/
.idea/
*.log
*.sqlite3
/.pytest_cache/
node_modules/
dist/
build/
*.egg-info/